.wwidget{
    margin-top: 28px;
    color: #21A9B0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    width: 320px;
    height: 480px; 
    background: black;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1));
    color: white;
}

.weatherWidgetRow{
    display: block;
    margin: 0 auto;
    width: fit-content;
    
}

.sun{
    margin:10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
    width: 90px;
    height: 90px
}

.moon{
    margin:10px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 10px rgb(255, 255, 255));
    width: 90px;
    height: 90px
}

.cloudDiv{
    margin-top: -80px;
}

.cloud{
    width: 110px;
    height: 110px;
    color: rgb(55, 164, 228);
    filter: drop-shadow(1px 1px 5px rgb(55, 164, 228));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}